{% extends 'main/base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'tutorials/tutorials.css' %}">
{% endblock %}

{% block title %}H_D - Tutorials{% endblock %}

{% block body %}
    <div class="container">

        <h1>Arrivano presto!</h1>
        
        <h2>Qui verranno raccolti tutti i tutorial che vengono caricati sul canale Youtube</h2>
        
        <a href="https://www.youtube.com/channel/UCgy9hegPkyKBo6RKoJXq2FQ" target="_blank">
            <button>Intanto vieni a fare un giro su Happy Dungeon! (clicca qui)</button>
        </a>

    </div>

{% endblock %}

{% block script %}
{% endblock %}
