{% extends 'automa/base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'automa/home/tutorial.css' %}">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/solid.min.css" integrity="sha512-6/gTF62BJ06BajySRzTm7i8N2ZZ6StspU9uVWDdoBiuuNu5rs1a8VwiJ7skCz2BcvhpipLKfFerXkuzs+npeKA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
{% endblock %}

{% block title %}H_D - Tutorials{% endblock %}

{% block body %}
    <div class="container">

        <h1>Arrivano presto!</h1>
        
        <h2>Qui verranno raccolti tutti i tutorial che vengono caricati sul canale Youtube</h2>
        
        <a href="https://www.youtube.com/channel/UCgy9hegPkyKBo6RKoJXq2FQ" target="_blank">
            <button>Intanto vieni a fare un giro su Happy Dungeon! (clicca qui)</button>
        </a>

    </div>

{% endblock %}

{% block script %}
{% endblock %}
