.rulebooks-container
    max-width: 700px
    width: 90vw
    margin-inline: auto
    text-align: left
    margin-top: 10vw

.rulebook
    display: flex
    justify-content: left
    align-items: center
    flex-wrap: wrap
    margin-inline: 2em
    padding: 1em
    gap: 2em
    margin-bottom: 3em
    border: 1px solid rgba(0, 0, 0, 0.2)
    border-radius: 5px

.rulebook__thumbnail
    width: 6em
    height: 6em
    border-radius: 50%
    background-color: steelblue

    img
        border-radius: 50%
        

@media screen and ( max-width: 420px)
    .rulebook__thumbnail
        display: none
    
.rulebook__title
    font-size: 2rem
    margin-top: 0

.rulebook__description
    margin-bottom: 0

.rulebook__links
    background-color: lightblue
    padding: 1em
    border-radius: 15px
    margin-left: auto

    li:not(:last-child)
        margin-bottom: 0.4em

