{% extends 'automa/base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'rulebooks/rulebooks.css' %}">
{% endblock %}

{% block title %}
    Regolamenti
{% endblock %}

{% block body %}

     <div class="container rulebooks-container">
        {% for r in rulebooks %}
            {% if r.is_ready == True %}
                <div class="rulebook">
                    
                    <a href="{% url 'rules' r.link_to_page_rules %}">
                        <div class="rulebook__info">
                            <div class="rulebook__thumbnail">
                            {% if r.thumbnail %}
                                <img src="{{ r.thumbnail.url }}" alt="{{ r.title }} thumbnail">
                            {% endif %}
                            </div>
                            
                            <h2 class="rulebook__title">{{ r.title }}</h2>
                            <p class="rulebook__description">
                                <span class="iconify" data-icon="carbon:document"></span>
                                {{ r.description }}
                            </p>
                        </div>
                    </a>

                    <div class="rulebook__links">
                        <ul>
                            {% if r.link_original %}
                                <li><a href="{{ r.link_original }}" target="_blank">
                                    <span class="iconify" data-icon="akar-icons:link-out"></span>
                                    Regolamento originale (eng)
                                </a></li>
                            {% endif %}
                            {% if r.link_ita %}
                                <li><a href="{{ r.link_ita }}" target="_blank">
                                    <span class="iconify" data-icon="akar-icons:link-out"></span>
                                    Regolamento su BGG (ita)
                                </a></li>
                            {% endif %}
                            {% if r.file_PDF %}
                                <li><a href="{{ r.file_PDF }}" target="_blank">
                                    <span class="iconify" data-icon="carbon:document-pdf"></span>
                                    Download PDF (ita)
                                </a></li>
                            {% endif %}
                            {% if r.link_amazon %}
                                <li><a href="{{ r.link_amazon }}" target="_blank">
                                    <span class="iconify" data-icon="icon-park-outline:buy"></span>
                                    Qui puoi acquistare il gioco
                                </a></li>
                            {% endif %}

                            {% for url in r.url.all %}
                                <li><a href="{{ url.url }}" target="_blank">{{ url.url_name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}

{% block script %}
{% endblock %}
