@import ../base/base

button
    margin-bottom: 1em
    
.display-leaders
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    margin-bottom: 2em

    .leader-box
        position: relative
        z-index: 1
        min-height: 230px
        max-width: 15%
        min-width: 170px
        margin: 0.5rem
        cursor: pointer
        perspective: 500px
        transform-style: preserve-3d

        .flip-card-front, .flip-card-back
            position: absolute
            top: 0
            left: 0
            border: 1px solid black
            border-radius: 5px
            cursor: pointer
            backface-visibility: hidden

        .flip-card-back
            transform: rotateY(180deg)

.tooltip
    position: absolute
    padding: 0.5em
    border-radius: 5px
    font-size: 0.7em
    display: none
    transition: opacity 0.5s ease
    background-color: #ababab
    pointer-events: none

.tooltip-name
    bottom: 100%
    left: -50%
    width: 200%
    padding: 0
    margin: 0
    font-size: 1.3rem
    font-weight: 700
    background-color: $white-blue

.tooltip-bonuspoints
    top: 0
    right: 100%
    width: 50%
    
.tooltip-power
    top: 0
    left: 100%
    width: 50%

.tooltip-conditions
    top: 100%
    left: -50%
    width: 200%

#token
    position: relative
    display: none
    margin-inline: 3em

.tooltip-token
    top: 100%
    left: -25%
    width: 150%

#replay-token
    max-width: 120px
    border-radius: 100px
    cursor: pointer

.active-token
    border: 3px solid orange
    filter: brightness(150%)
    animation: pulse 10s ease-in-out infinite alternate

@keyframes pulse
    0%
        box-shadow: 0 0 100px blue
    25%
        box-shadow: 0 0 100px red
    50%
        box-shadow: 0 0 100px yellow
    75%
        box-shadow: 0 0 100px green
    100%
        box-shadow: 0 0 100px purple

.score-grid
    position: relative
    display: none
    margin-top: 3em
    margin-inline: auto
    grid-template-columns: repeat(7, 1fr)
    max-width: 500px

    & > span
        min-width: 20%
        height: 33%
        font-size: min(0.7em, 2.8vw)
        margin-block: min(1em, 2vw)

    .score-title
        margin-top: min(5em, 15vw)

    .player-score,
    .leader-score
        font-weight: 700
        font-size: 2rem
        letter-spacing: 0.1em

    input
        width: 90%
        font-size: 1.2rem
        padding-block: 0.5em
        text-align: center

    // Chrome, Safari, Edge, Opera
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button
        -webkit-appearance: none
        margin: 0

    // Firefox
    input[type=number]
        -moz-appearance: textfield

#bg-score
    position: absolute
    z-index: -100
    top: 0
    left: 0
    width: 100%


//? - - - - - SWITCH CHECKBOX - - - - -

/* The switch - the box around the slider */
.switch
    position: relative
    display: none
    width: 60px
    height: 34px
    margin: auto
    margin-bottom: 1em

    /* Hide default HTML checkbox */
    input
        opacity: 0
        width: 0
        height: 0

    .switch-text
        position: absolute
        left: 100%
        top: 25%
        width: 100px
        text-align: left
        padding-left: 0.5em

/* The slider */
.slider
    position: absolute
    cursor: pointer
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: #ccc
    border-radius: 3px
    -webkit-transition: .4s
    transition: .4s

.slider:before
    position: absolute
    content: ""
    height: 26px
    width: 26px
    left: 4px
    bottom: 4px
    background-color: $black-navbar
    border-radius: 3px
    -webkit-transition: .4s
    transition: .4s

input:checked + .slider 
    background-color: #FE9A1F

input:focus + .slider 
    box-shadow: 0 0 1px #FE9A1F

input:checked + .slider:before
    -webkit-transform: translateX(26px)
    -ms-transform: translateX(26px)
    transform: translateX(26px)
