@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&family=Luckiest+Guy&display=swap')

$primary-color: #FE9A1F
$secondary-color: #21B4FF
$white-blue: #E2EDF3
$black-navbar: #292929

*,
*::before,
*::after
    box-sizing: border-box

img,
picture
    max-width: 100%
    display: block
    
body
    min-height: 100vh
    margin: 0
    background: $white-blue
    font-family: 'Bitter', arial
    box-sizing: border-box
    max-width: 100%
    overflow-x: hidden

.container
    margin: 2em
    text-align: center

//? ------------------------
//? ------ COMPONENTS -------
//? ------------------------


//? ------ BUTTONS ---------

button
    padding: 0.5em 0.7em
    background: $black-navbar
    border: 1px solid $black-navbar
    color: $white-blue
    font-weight: 700
    border-radius: 3px
    cursor: pointer
    transition: background 0.3s, color 0.3s
    font-size: 1em

    &:hover
        background: $white-blue
        color: $black-navbar
        
    &:active
        background: #a7a7a7
        
.btn-primary
    background: $primary-color
    color: $black-navbar

.btn-secondary
    background: $secondary-color
    color: $black-navbar
ul
    list-style-type: none
    margin: 0
    padding: 0

a
    text-decoration: none
    color: black

img
    height: 100%

//? ------ HEADER & FOOTER ---------

#happy
    color: $primary-color

#dungeon
    color: $secondary-color

header,
footer
    display: flex
    justify-content: space-between
    align-items: center
    padding: 1em 2em
    background: $black-navbar
    color: white

footer
    position: sticky
    top: 100%
    width: 100%

    a
        color: white

        svg
            margin-bottom: -0.15em
            margin-right: 0.5em

header
    padding-right: 0.5em
    position: relative

    .logo
        font-weight: bold
        font-size: 1.5rem
        letter-spacing: 0.2rem

    .btn-flip
        opacity: 1
        line-height: 30px
        position: relative
        text-align: center
        display: inline-block
        text-transform: uppercase

        &::after
            top: 0
            left: 0
            opacity: 0
            width: 100%
            color: $black-navbar
            display: block
            transition: 0.5s
            position: absolute
            background: $white-blue
            content: attr(data-text)
            transform: translateY(-50%) rotateX(90deg)
        
        &::before
            top: 0
            left: 0
            opacity: 1
            color: $white-blue
            display: block
            padding: 0 1.5rem
            transition: 0.5s
            position: relative
            background: $black-navbar
            content: attr(data-text)
            transform: translateY(0) rotateX(0)

        &:hover
            &::after
                opacity: 1
                transform: translateY(0) rotateX(0)

            &::before
                opacity: 0
                transform: translateY(50%) rotateX(90deg)

    .active
        &::before
            background: $white-blue
            color: $black-navbar

    li:nth-child(4),
    li:nth-child(5)
        a
            &::after
                background-color: red
                color: white
                content: 'PRESTO!'

    nav
        position: absolute
        z-index: 10
        background-color: $black-navbar
        top: 100%
        right: 0
        padding-inline: 3em
        border-bottom-left-radius: 15px
        clip-path: circle(0 at top right)
        transition: clip-path ease-in-out 0.7s

        &.nav-open
            clip-path: circle(145% at top right)

        li
            padding-block: 2em
            border-bottom: 1px solid #444444

    .menu-toggle
        position: absolute
        right: 0
        top: 0
        padding: 0.6rem 2rem
        cursor: pointer

        &:before,
        &:after,
        & div
            background: #E2EDF3
            content: ''
            display: block
            height: 3px
            width: 2em
            border-radius: 3px
            margin: 7px 0
            transition: ease-in-out 0.5s

        &.menu-toggle-open
            &:before
                transform: translateY(12px) rotate(135deg)
            &:after
                transform: translateY(-12px) rotate(-135deg)
            & div
                transform: scale(0)        

    @media screen and ( min-width: 900px )
        nav
            position: relative
            height: auto
            float: right
            clip-path: initial
            padding: 0

            ul
                display: flex

                li
                    padding-block: 0
                    border-bottom: none
            
                .btn-flip
                    border-left: 1px solid #444444
                    
        .menu-toggle
            display: none