{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'main/base/base.css' %}" rel="stylesheet">
    {% block link %}{% endblock %}
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="icon" type="image/x-icon" href="{% static 'main/media/favicon/favicon.ico' %}">
</head>
<body>
        <header id='header'>
            <a class="logo" href="{% url 'homepage' %}"><span id="happy">Happy</span> <span id="dungeon">Dungeon</span></a>
            
            <nav class="main-nav">
                <ul>
                    <li><a class="btn-flip{% if request.path == '/' %} active{% endif %}" href="{% url 'homepage' %}" data-text="Home"></a></li>
                    <li><a class="btn-flip{% if '/rulebooks/' in request.path %} active{% endif %}" href="{% url 'rulebooks' %}" data-text="Regolamenti"></a></li>
                    <li><a class="btn-flip{% if '/automa/' in request.path %} active{% endif %}" href="{% url 'automa_home' %}" data-text="Automa"></a></li>
                    <li><a class="btn-flip{% if '/tutorials/' in request.path %} active{% endif %}" href="{% url 'tutorials' %}" data-text="Video tutorial"></a></li>
                    <li><a class="btn-flip" href="#" data-text="Game design"></a></li>
                    <li><a class="btn-flip" href="#" data-text="Altro"></a></li>
                </ul>
            </nav>

            <div class="menu-toggle">
                <div></div>
            </div>
            
        </header>

        <h1 id="page-title">
            {% if '/rulebooks/' in request.path %}
                Regolamenti
            {% elif '/automa/' in request.path %}
                Automa companion
            {% elif '/tutorials/' in request.path %}
                Tutorial
            {% endif %}
        </h1>
        
        {% block body %}{% endblock %}
        
        <footer>
            <span class="creator">Made by Alessandro Provvisionato</span>
            
            <ul>
                <li>
                    <a href="{% url 'contact' %}">
                        <span class="iconify" data-icon="fluent:mail-24-regular"></span>
                        <span class="contact_cta">Contattami</span>
                    </a>
                </li>
            </ul>
            
        </footer>

        <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
        <script src="{% static 'main/base/base.js' %}"></script>
        
        {% block script %}{% endblock %}
    </body>
</html>