@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&family=Luckiest+Guy&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture {
  max-width: 100%;
  display: block;
}

body {
  min-height: 100vh;
  margin: 0;
  background: #E2EDF3;
  font-family: "Bitter", arial;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  margin: 2em;
  text-align: center;
}

button {
  padding: 0.5em 0.7em;
  background: #292929;
  border: 1px solid #292929;
  color: #E2EDF3;
  font-weight: 700;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  font-size: 1em;
}
button:hover {
  background: #E2EDF3;
  color: #292929;
}
button:active {
  background: #a7a7a7;
}

.btn-primary {
  background: #FE9A1F;
  color: #292929;
}

.btn-secondary {
  background: #21B4FF;
  color: #292929;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

img {
  height: 100%;
}

#happy {
  color: #FE9A1F;
}

#dungeon {
  color: #21B4FF;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background: #292929;
  color: white;
}

footer {
  position: -webkit-sticky;
  position: sticky;
  top: 100%;
  width: 100%;
}
footer a {
  color: white;
}
footer a svg {
  margin-bottom: -0.15em;
  margin-right: 0.5em;
}

header {
  padding-right: 0.5em;
  position: relative;
}
header .logo {
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}
header .btn-flip {
  opacity: 1;
  line-height: 30px;
  position: relative;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
}
header .btn-flip::after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: #292929;
  display: block;
  transition: 0.5s;
  position: absolute;
  background: #E2EDF3;
  content: attr(data-text);
  transform: translateY(-50%) rotateX(90deg);
}
header .btn-flip::before {
  top: 0;
  left: 0;
  opacity: 1;
  color: #E2EDF3;
  display: block;
  padding: 0 1.5rem;
  transition: 0.5s;
  position: relative;
  background: #292929;
  content: attr(data-text);
  transform: translateY(0) rotateX(0);
}
header .btn-flip:hover::after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}
header .btn-flip:hover::before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}
header .active::before {
  background: #E2EDF3;
  color: #292929;
}
header li:nth-child(4) a::after,
header li:nth-child(5) a::after {
  background-color: red;
  color: white;
  content: "PRESTO!";
}
header nav {
  position: absolute;
  z-index: 10;
  background-color: #292929;
  top: 100%;
  right: 0;
  padding-inline: 3em;
  border-bottom-left-radius: 15px;
  -webkit-clip-path: circle(0 at top right);
          clip-path: circle(0 at top right);
  transition: -webkit-clip-path ease-in-out 0.7s;
  transition: clip-path ease-in-out 0.7s;
  transition: clip-path ease-in-out 0.7s, -webkit-clip-path ease-in-out 0.7s;
}
header nav.nav-open {
  -webkit-clip-path: circle(145% at top right);
          clip-path: circle(145% at top right);
}
header nav li {
  padding-block: 2em;
  border-bottom: 1px solid #444444;
}
header .menu-toggle {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.6rem 2rem;
  cursor: pointer;
}
header .menu-toggle:before, header .menu-toggle:after, header .menu-toggle div {
  background: #E2EDF3;
  content: "";
  display: block;
  height: 3px;
  width: 2em;
  border-radius: 3px;
  margin: 7px 0;
  transition: ease-in-out 0.5s;
}
header .menu-toggle.menu-toggle-open:before {
  transform: translateY(12px) rotate(135deg);
}
header .menu-toggle.menu-toggle-open:after {
  transform: translateY(-12px) rotate(-135deg);
}
header .menu-toggle.menu-toggle-open div {
  transform: scale(0);
}
@media screen and (min-width: 900px) {
  header nav {
    position: relative;
    height: auto;
    float: right;
    -webkit-clip-path: initial;
            clip-path: initial;
    padding: 0;
  }
  header nav ul {
    display: flex;
  }
  header nav ul li {
    padding-block: 0;
    border-bottom: none;
  }
  header .menu-toggle {
    display: none;
  }
}

a img {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  width: 100%;
}

.container {
  margin: 3em 7vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 20px);
  grid-auto-rows: 20px;
}
.container .game-containers {
  position: relative;
  padding: 1em;
}
.container .game-container-L {
  height: 150px;
  width: 150px;
  grid-column: span 9;
  grid-row: span 10;
}
.container .game-container-M {
  height: 150px;
  width: 100px;
  grid-column: span 7;
  grid-row: span 10;
}
.container .game-container-M img {
  border-top-right-radius: 2px;
}
.container .game-container-S {
  height: 90px;
  width: 90px;
  grid-column: span 6;
  grid-row: span 7;
}
.container .game-bottom {
  z-index: -1;
  position: absolute;
  top: 4%;
  left: 4%;
  height: 95%;
  width: 95%;
}
.container .game-bottom::before {
  position: absolute;
  content: "";
  text-align: center;
  color: white;
  letter-spacing: 0.3em;
  font-size: 1em;
  font-weight: bold;
  border-bottom-right-radius: 3px;
  bottom: -20px;
  height: 21px;
  width: 100%;
  left: 6px;
  transform: skewX(30deg);
  background-color: #292929;
  transition: all 0.5s;
}
.container .game-bottom::after {
  position: absolute;
  content: "";
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: center;
  letter-spacing: 0.3em;
  font-size: 0.7em;
  color: white;
  transition: all 0.5s;
  right: -11px;
  height: 100%;
  width: 13px;
  bottom: -10px;
  transform: skewY(60deg);
  border-bottom-right-radius: 4px;
  background-color: black;
}
.container .game-top {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: 15px 25px 5px rgba(0, 0, 0, 0.1), 20px 30px 10px rgba(0, 0, 0, 0.1), 30px 40px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}
.container .game-top img {
  border-bottom-right-radius: 0;
}
.container .game-top::before {
  position: absolute;
  content: attr(data-label);
  text-align: center;
  color: white;
  letter-spacing: 0.3em;
  font-size: 1em;
  font-weight: bold;
  left: 6px;
  bottom: -20px;
  height: 20px;
  width: 100%;
  border-bottom-right-radius: 2px;
  transform: skewX(30deg);
  background-color: #7a4d06;
  transition: all 0.5s;
}
.container .game-top::after {
  position: absolute;
  content: "";
  right: -11px;
  height: 100%;
  width: 11px;
  bottom: -9px;
  transform: skewY(60deg);
  border-top-left-radius: 1px;
  box-shadow: 0 1px 0 #452205;
  background-color: #452205;
  transition: all 0.5s;
}
.container .game-top:hover {
  margin-left: -6px;
  margin-top: -10px;
  box-shadow: 20px 30px 5px rgba(0, 0, 0, 0.1), 25px 35px 15px rgba(0, 0, 0, 0.1), 40px 50px 15px rgba(0, 0, 0, 0.1);
}

.search-bar {
  margin: 2em;
  perspective: 400px;
  text-align: center;
}
.search-bar .bar {
  cursor: pointer;
  background: #E2EDF3;
  border: 1px solid #292929;
  height: 50px;
  display: inline-block;
  transform-style: preserve-3d;
  transform: rotateY(90deg) translateX(100px);
  transition: transform 0.5s;
}
.search-bar .bar input {
  height: 50%;
  width: 90%;
  border-radius: 10px;
  margin-top: 7px;
  padding: 0.8em;
  font-size: 1.5em;
  border: none;
}
.search-bar .bar input:focus {
  outline: none;
}
.search-bar .bar::before {
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f002";
  color: #E2EDF3;
  font-size: 1.5em;
  line-height: 240%;
  padding: 0 0.5em;
  background: #292929;
  border: 1px solid #292929;
  transform: rotateY(-90deg) translate3d(-22px, -1px, -21px);
}/*# sourceMappingURL=home.css.map */